// $device-size-xs: 28rem;
// $device-size-s: 40rem;
// $device-size-m: 60rem;
// $device-size-l: 70rem;
// $device-size-xl: 87rem;

$device-size-xs: 26rem;
$device-size-s: 38rem;
$device-size-m: 51rem;
$device-size-l: 65rem;
$device-size-xl: 87rem;
