<div class="landing-page__box" @landingState>
  <div class="landing-page__container">
    <div class="landing-page__area__top-dark-triangle"><a href="#" class="landing-page__link"></a></div>
    <div class="landing-page__area__top-light-triangle"><a class="landing-page__link"></a></div>
    <div class="landing-page__area__top-grey-half-triangle"><a class="landing-page__link"></a></div>
    <div
      (mouseenter)="titleHover = true"
      (mouseleave)="titleHover = false"
      (click)="showCourseModal = true"
      class="landing-page__area__title"
    >
      <a class="landing-page__link"></a>
    </div>
    <div class="landing-page__area__bottom-light-triangle"><a class="landing-page__link"></a></div>
    <div class="landing-page__area__bottom-grey-half-triangle"><a class="landing-page__link"></a></div>
    <div class="landing-page__area__bottom-dark-triangle"><a class="landing-page__link"></a></div>
  </div>
</div>

<div class="landing-page__floating__box">
  <div class="landing-page__title__box" @landingTitleState>
    <span [ngStyle]="{ opacity: showCourseModal ? 0 : 1 }" class="landing-page__title__title">Mosar</span>
    <span [ngStyle]="{ opacity: showCourseModal ? 0 : 1 }" class="landing-page__title__subtitle"
      >Flashcard Practice</span
    >
  </div>
  <div class="landing-page__logo__box">
    <div class="landing-page__logo" @landingTitleState>
      <img [ngClass]="{ 'scale-up': titleHover }" src="../../assets/mosar_logo.png" />
    </div>
  </div>
</div>

<div *ngIf="showCourseModal" (click)="onClick($event)" class="landing-page__backdrop">
  <div *ngIf="courses$ | async as courses; else loading" class="course-modal__outer-box">
    <div class="course-modal__container" [ngClass]="{ visible: !loadingInProgress }">
      <div class="course-modal__content" #courseModal>
        <div class="course-modal__content__text">
          <div *ngFor="let course of courses" (click)="navigate(course)" class="course-modal__content__link">
            {{ course.coursename }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
