@import '../../../../styles/sass/shared';

.background {
  width: 100%;
  height: 200%;
  background: linear-gradient($turqoise-dark, $creme);
  animation: slide 1.8s ease-in-out infinite alternate;
}

img {
  height: 60vw;
  max-height: 60vh;

  // width: 0.4vw
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  animation: spin 1.8s ease-in-out infinite alternate;
}

@keyframes slide {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0) rotateY(0);
    filter: brightness(150%);
    box-shadow: 0 0 3rem rgba(0 0 0 / 60%);
  }

  to {
    transform: rotateZ(720deg) rotateY(360deg);
    filter: brightness(250%);
    box-shadow: 0 0 1rem rgba(0 0 0 / 60%);
  }
}
