@import '../../../styles/sass/shared';

@mixin area__link($color) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color;
}

@mixin area__link__hover($color) {
  cursor: pointer;
  background: darken($color, 15%);
}

.not-found-page__box {
  display: flex;
  overflow: hidden;
  height: 98vh;
  width: 99vw;
  align-items: center;
  justify-content: center;
  background: $turqoise-light;
  transform-origin: 50vw 0;
  transform: rotateZ(2deg);

  .not-found-page__container {
    height: 50vw;
    width: 50vw;
    transform-origin: 50% 50%;
    transform: rotateZ(-45deg) scale(5);
    display: grid;
    background: $white;
    grid-template-columns: 78fr 2fr 50fr 2fr 78fr;
    grid-template-rows: 60fr 2fr 18fr 2fr 36fr 2fr 18fr 2fr 60fr;

    @media (min-width: $device-size-m) {
      grid-template-columns: 89fr 1fr 20fr 1fr 89fr;
      grid-template-rows: 68fr 1fr 13fr 1fr 35fr 1fr 13fr 1fr 68fr;
    }

    grid-template-areas:
      'top-dark-triangle      top-dark-triangle      top-dark-triangle         .                         top-light-triangle'
      '.                      .                      .                         .                         top-light-triangle'
      'top-grey-half-triangle top-grey-half-triangle top-grey-half-triangle    .                         top-light-triangle'
      'top-grey-half-triangle top-grey-half-triangle top-grey-half-triangle    .                         .'
      'title                  title                  title                     title                     title'
      '.                      .                      bottom-grey-half-triangle bottom-grey-half-triangle bottom-grey-half-triangle'
      'bottom-light-triangle  .                      bottom-grey-half-triangle bottom-grey-half-triangle bottom-grey-half-triangle'
      'bottom-light-triangle  .  .                         .                         .'
      'bottom-light-triangle  .                      bottom-dark-triangle      bottom-dark-triangle      bottom-dark-triangle';

    @media (min-width: $device-size-l) {
      grid-template-areas:
        'top-dark-triangle      .                     top-light-triangle     top-light-triangle top-light-triangle'
        '.                      .                     top-light-triangle     top-light-triangle top-light-triangle'
        'top-grey-half-triangle .                     top-light-triangle     top-light-triangle top-light-triangle'
        'top-grey-half-triangle .                     .                      .                  .'
        'title                  title                 title                  title              title'
        '.                      .                     .                      .                  bottom-grey-half-triangle'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  bottom-grey-half-triangle'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  .'
        'bottom-light-triangle  bottom-light-triangle bottom-light-triangle  .                  bottom-dark-triangle';
    }

    // TODO: refactor these area names and classes when we know what they actually are

    .not-found-page__area__top-dark-triangle {
      grid-area: top-dark-triangle;
      position: relative;
      transform: translate(3%, 23%) rotateZ(47deg);
      transform-origin: 90% 90%;

      a.not-found-page__link {
        @include area__link($turqoise-dark);

        &:hover {
          @include area__link__hover($turqoise-dark);
        }
      }
    }

    .not-found-page__area__top-light-triangle {
      grid-area: top-light-triangle;
      position: relative;
      transform: translateX(10%) rotateZ(40deg);
      transform-origin: 0 100%;

      a.not-found-page__link {
        @include area__link($turqoise-light);

        &:hover {
          @include area__link__hover($turqoise-light);
        }
      }
    }

    .not-found-page__area__top-grey-half-triangle {
      grid-area: top-grey-half-triangle;
      position: relative;
      transform: translateX(0%) rotateZ(28deg);
      transform-origin: 80% 70%;
      z-index: 5;

      a.not-found-page__link {
        @include area__link($grey-light);

        &:hover {
          @include area__link__hover($grey-light);
        }
      }
    }

    .not-found-page__area__title {
      grid-area: title;
      position: relative;

      a.not-found-page__link {
        @include area__link($petrol);

        &:hover {
          @include area__link__hover($petrol);
        }
      }
    }

    .not-found-page__area__bottom-light-triangle {
      background: $turqoise-light;
      grid-area: bottom-light-triangle;
      position: relative;
      transform: rotateZ(30deg);
      transform-origin: 100% 0;
      z-index: -2;
    }

    .not-found-page__area__bottom-dark-triangle {
      background: $turqoise-dark;
      grid-area: bottom-dark-triangle;
      position: relative;
      transform: translateY(-25%) rotateZ(8deg);
      transform-origin: 0 0;
    }

    .not-found-page__area__bottom-grey-half-triangle {
      grid-area: bottom-grey-half-triangle;
      position: relative;
      transform: rotateZ(-15deg) translateX(-5%);
      transform-origin: 10% 100%;
      z-index: -1;

      a.not-found-page__link {
        @include area__link($grey-light);

        &:hover {
          @include area__link__hover($grey-light);
        }
      }

      @media (min-width: $device-size-m) {
        z-index: 0;
      }
    }
  }
}

.not-found-page__floating__box {
  position: fixed;
  overflow: hidden;
  height: 98vh;
  width: 99vw;
  top: 0;
  left: 0;
  pointer-events: none;

  .not-found-page__floating__container {
    position: relative;

    // opacity: 0.4;
    width: 53%;
    height: 100%;
    margin: auto;
    transform: skew(-45deg);

    .not-found-page__text {
      height: 100vh;
      width: 100%;
      vertical-align: middle;
      display: table-cell;

      p {
        z-index: 1000;
        color: lighten($turqoise-light, 35%);
        transform: skew(45deg);
        text-align: center;
        font-size: 0.9 * $font-size-base;
        margin: 0.8rem 0 0.8rem 0.2rem;

        @media (min-width: $device-size-xs) {
          font-size: 1.2 * $font-size-base;
        }

        @media (min-width: $device-size-m) {
          font-size: 0.8 * $font-size-small;
          margin: 1rem 0;
        }

        @media (min-width: $device-size-l) {
          font-size: 1.1 * $font-size-small;
        }
      }

      p.not-found-page__text__last-line {
        padding-left: 2rem;

        @media (min-width: $device-size-m) {
          padding-left: 0;
        }
      }

      p.not-found-page__text__error-code {
        color: $white;
        font-family: $font-family-title;
        font-size: 1 * $font-size-small;
        margin: 1rem 0 1.2rem 0.2rem;

        @media (min-width: $device-size-xs) {
          font-size: 1.5 * $font-size-small;
        }

        @media (min-width: $device-size-m) {
          font-size: 1.1 * $font-size-medium;
          margin: 1rem 0 5rem 0.2rem;
        }

        @media (min-width: $device-size-l) {
          font-size: 1.5 * $font-size-medium;
        }
      }
    }
  }
}
