<div @crashedState class="not-found-page__box">
  <div class="not-found-page__container">
    <div class="not-found-page__area__top-dark-triangle"><a href="#" class="not-found-page__link"></a></div>
    <div class="not-found-page__area__top-light-triangle"><a class="not-found-page__link"></a></div>
    <div class="not-found-page__area__top-grey-half-triangle"><a class="not-found-page__link"></a></div>
    <div [routerLink]="['/']" class="not-found-page__area__title">
      <a class="not-found-page__link"> </a>
    </div>
    <div class="not-found-page__area__bottom-light-triangle"></div>
    <div class="not-found-page__area__bottom-grey-half-triangle"><a class="not-found-page__link"></a></div>
    <div class="not-found-page__area__bottom-dark-triangle"></div>
  </div>
</div>

<div class="not-found-page__floating__box">
  <div class="not-found-page__floating__container">
    <div class="not-found-page__text">
      <p class="not-found-page__text__error-code">404</p>
      <p>This flashcard was chewed on by the dog that also eats homework.</p>
      <p>Please refresh and pet the dog.</p>
      <p>Maybe make some tea and relax.</p>
      <p>What are you thankful for today?</p>
      <p class="not-found-page__text__last-line">You're doing great.</p>
    </div>
  </div>
</div>
