// styles to be fullscreen and hide scrollbars
@import './styles/sass/shared';

html {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;

  @media screen and (min-width: $device-size-xs) and (max-width: $device-size-m) and (orientation: landscape) {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  body {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
