<div class="navigation-bar">
  <mosar-button-home routerLink="/"></mosar-button-home>
</div>

<div
  *ngIf="flashcard$ | async as flashcard; else loading"
  [@flashcardSideState]="animationState"
  (@flashcardSideState.done)="onDoneChooseNextAnimationState()"
  class="flashcard__outer-box"
>
  <div class="flashcard__container" [ngClass]="{ visible: !loadingInProgress }">
    <div (click)="flipSides()" class="flashcard__content">
      <div class="flashcard__content__text">
        <div [ngClass]="{ invisible: !isFrontSide }" class="flashcard__text-front">
          {{ flashcard.term }}
        </div>
        <div [ngClass]="{ invisible: isFrontSide }" class="flashcard__text-back">
          {{ flashcard.explanation }}
        </div>
        <div class="flashcard__arrow">
          <img src="../../../assets/pretty_arrow.png" alt="arrow" />
        </div>
      </div>
    </div>
    <div class="flashcard__button-bar">
      <div *ngIf="!isFrontSide" (click)="answer$.next(false)" class="flashcard__button flashcard__button__negative">
        <mosar-button-negative></mosar-button-negative>
      </div>
      <div *ngIf="!isFrontSide" (click)="answer$.next(true)" class="flashcard__button flashcard__button__positive">
        <mosar-button-positive></mosar-button-positive>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
