@import '../../../styles/sass/shared';

:host {
  height: 100%;
  width: 100%;
  background: $grey-light;
}

.navigation-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.2rem;
  z-index: 1;
}

.flashcard__outer-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $grey-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 150vw;

  .flashcard__container {
    color: $petrol;
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;

    @media (min-width: $device-size-m) {
      max-width: 66rem;
    }

    opacity: 0;

    &.visible {
      opacity: 1;
    }

    .flashcard__content {
      background: $creme;
      border: 0.8rem solid $turqoise-dark;
      border-radius: 3rem;
      display: flex;
      text-align: center;
      height: 85%;
      position: relative;

      @media (min-width: $device-size-s) {
        border-width: 1.2rem;
      }

      @media (min-width: $device-size-m) {
        border-width: 1.35rem;
      }

      @media (min-width: $device-size-m) {
        border-width: 1.5rem;
      }

      .flashcard__content__text {
        .flashcard__text-front {
          font-size: 0.85 * $font-size-small;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          padding: 0.5rem;

          @media (min-width: $device-size-s) {
            font-size: 1.3 * $font-size-small;
          }

          @media (min-width: $device-size-m) {
            font-size: 1.5 * $font-size-small;
            padding: 1rem;
          }

          @media (min-width: $device-size-l) {
            font-size: 1.7 * $font-size-small;
          }

          &.invisible {
            opacity: 0;
          }
        }

        .flashcard__text-back {
          font-size: $font-size-base;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          padding: 0.5rem;

          @media (min-width: $device-size-xs) {
            font-size: 0.6 * $font-size-small;
          }

          @media (min-width: $device-size-s) {
            font-size: 0.75 * $font-size-small;
          }

          @media (min-width: $device-size-m) {
            font-size: 0.9 * $font-size-small;
            padding: 1rem;
          }

          @media (min-width: $device-size-l) {
            font-size: 1 * $font-size-small;
          }

          @media (min-width: $device-size-xl) {
            font-size: 1.2 * $font-size-small;
          }

          &.invisible {
            opacity: 0;
          }
        }
      }

      .flashcard__arrow {
        position: absolute;
        bottom: 1%;
        right: 0%;

        img {
          width: 6vw;
          min-width: 2.8rem;
          height: auto;
          padding-right: 0.5rem;
        }
      }
    }

    .flashcard__button-bar {
      display: flex;
      width: 100%;
      height: 15%;
      justify-content: space-around;
      align-items: center;
    }
  }
}
