@import '../../../../../styles/sass/shared';

.button {
  all: unset;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $device-size-s) {
    height: 4.2rem;
    width: 4.2rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
